<div class="contact">
    <div class="title">
        <h1>רוצים להתייעץ איתנו?</h1>
        <h1>יש לכם רעיונות, המלצות או שסתם בא לכם לקשקש?</h1>
        <h1>אנחנו נמצאים כאן:</h1>
    </div>
    <div class="info">
        <a href="https://www.instagram.com/passportfortwo_">_passportfortwo</a>
        <button (click)="open('https://www.instagram.com/passportfortwo_')">
            <fa-icon [icon]="faInstagramSquare" class="icon"></fa-icon>
        </button>
    </div>
    <div class="info">
        <a href="mailto:passportfortwo2020@gmail.com">passportfortwo2020@gmail.com</a>
        <button (click)="open('mailto:passportfortwo2020@gmail.com')">
            <fa-icon [icon]="faEnvelope" class="icon"></fa-icon>
        </button>
    </div>
    <img src="../../../assets/pic/main/IMG1028985752.jpg"/>
</div>