<div class="about-us">
    <div class="info">
        <img class="about-img" src="../../../assets//pic/main/about.jpeg" />
        <div class="about-info">
            <p>היי חברים :)</p>
            <p>ברוכים הבאים לבלוג שלנו</p>
            <p>אנחנו דניאל ואורן, בני 30 מתל אביב, מתכנתים בתחום ה web (אתרים, אפליקציות) עם אהבה מטורפת לטיולים, לטבע, לצילום ולקולינריה.</p>
            <p>בבלוג שלנו תמצאו חוויות מהטיולים שלנו ברחבי העולם, המלצות למסלולים, למלונות, למסעדות וטיפים לתכנון הטיול ולוקיישנים ברחבי העולם.</p>
            <p>מקווים שתיהנו</p>
        </div>
    </div>
</div>