<div class="info-list">
  <div>
    <div class="title">about us</div>
    <div class="info">
      <img class="about-img" src="../../../assets//pic/main/about.jpeg" />
      <p>היי חברים :)</p>
      <p>ברוכים הבאים לבלוג שלנו</p>
      <p>
        אנחנו דניאל ואורן, בני 30 מתל אביב, מתכנתים בתחום ה web (אתרים,
        אפליקציות) עם אהבה מטורפת לטיולים, לטבע, לצילום ולקולינריה.
      </p>
      <p>
        בבלוג שלנו תמצאו חוויות מהטיולים שלנו ברחבי העולם, המלצות למסלולים,
        למלונות, למסעדות וטיפים לתכנון הטיול ולוקיישנים ברחבי העולם.
      </p>
      <p>מקווים שתיהנו</p>
      <button (click)="goToAboutPage()">READ MORE</button>
    </div>
  </div>

  <div>
    <div class="title">latest posts</div>
    <div class="latest-posts">
      <ng-container *ngFor="let post of postList; let i = index">
        <div *ngIf="post.showPost" class="post" (click)="goToPost(post?.id)">
          <img [src]="post?.mainImg" />
          <div>
            <div class="post-title">{{ post?.title }}</div>
            <div class="post-date">{{ post?.date | date: "mediumDate" }}</div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <div>
    <div class="title follow-us">follow us</div>
    <div class="follow">
      <a href="https://www.instagram.com/passportfortwo_">#PassportForTwo_</a>
      <button (click)="open('https://www.instagram.com/passportfortwo_')">
        <fa-icon [icon]="faInstagramSquare" class="icon"></fa-icon>
      </button>
    </div>
  </div>

  <div>
    <div class="title">instegram</div>
    <div class="instagram">
      <iframe
        src="https://snapwidget.com/embed/931579"
        class="snapwidget-widget"
        allowtransparency="true"
        frameborder="0"
        scrolling="no"
        style="border: none; overflow: hidden; width: 100%"
      >
      </iframe>
    </div>
  </div>
</div>
